extends layout

block content
  h1= title
  #{title}

  form(action='/citations', method="post")
    input(id='hidden', type='text', placeholder='auteur', name='author')
    input(id='hidden', type='text', placeholder='citation', name='quote')
    input(id='hidden', type='submit', value='entrer')

  ul
    each val in quotes
      li= val.quote
      li - #{val.author}
      input(id='hidden',type='submit', value='Précédente')
      <input id= button type="button" onclick='window.location.reload(false)' value="Cliquez Moi!"/>
      input(id='hidden', type='submit', value='Suivante')
